# Server Configuration
PORT=3001
NODE_ENV=development

# Database Configuration
POSTGRES_HOST=localhost
POSTGRES_PORTA=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=root
POSTGRES_DB=postgres
POSTGRES_SCHEMA=lumisdex_local
POSTGRES_SYNC=false
POSTGRES_MIGRATIONS_RUN=true
POSTGRES_SSL=false

# Redis Configuration
REDIS_URL=redis://localhost:6379

# PokeAPI Configuration
POKEAPI_BASE_URL=https://pokeapi.co/api/v2

# Cache Configuration
CACHE_TTL=3600

